{% extends 'style.html' %}

{% block body %}

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mr-4" href="">{{ project_name }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav mr-auto">
                        <li><a class="nav-item nav-link" href="{% url 'package-list' %}">View Packages</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'upload' %}">Upload</a></li>
                        <li><a class="nav-item nav-link" href="https://github.com/EErikas/reaktor_project"
                               rel="noopener noreferrer" target="_blank">Project Repository</a></li>
                        {% if debug %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Debug actions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'package-dump' %}">Packages</a>
                                    <a class="dropdown-item" href="{% url 'installed-packages-dump' %}">Installed
                                        packages</a>
                                    <a class="dropdown-item" href="{% url 'reverse-dependencies-dump' %}">Reverse
                                        dependencies</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'clear-session' %}">Clear session</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}

    </div>

{% endblock %}