{% extends 'base.html' %}
{% block content %}
    <div class="mt-5">

        <h1 class="mt-5">Upload file</h1>
        <p class="lead">
            Enter a name for your Poetry.lock file and upload the file, alternatively, you can browse the previously
            uploaded files
        </p>
        {#        <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">#}
        {#            <div class="input-group mb-3">#}
        {#                {% csrf_token %}#}
        {#                <input type="file" class="form-control" name="file" required>#}
        {#                <input type="submit" class="btn btn-primary">#}
        {#            </div>#}
        {#        </form>#}
        <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
            {% csrf_token %}
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="inputGroupFile"
                           aria-describedby="inputGroupFileAddon">
                    <label class="custom-file-label" for="inputGroupFile">Choose <i>poetry.lock</i> file file</label>
                </div>
                <div class="input-group-append">
                    <input class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon" value="Upload File">
                </div>
            </div>
        </form>
    </div>


    {#    <div id="accordion">#}
    {#        <div class="card">#}
    {#            <div class="card-header" id="headingOne">#}
    {#                <h5 class="mb-0">#}
    {#                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"#}
    {#                            aria-controls="collapseOne">#}
    {#                        Collapsible Group Item #1#}
    {#                    </button>#}
    {#                </h5>#}
    {#            </div>#}
    {#            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">#}
    {#                <div class="card-body">#}
    {#                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3#}
    {#                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum#}
    {#                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla#}
    {#                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt#}
    {#                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer#}
    {#                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus#}
    {#                    labore sustainable VHS.#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="card">#}
    {#            <div class="card-header" id="headingTwo">#}
    {#                <h5 class="mb-0">#}
    {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"#}
    {#                            aria-expanded="false" aria-controls="collapseTwo">#}
    {#                        Collapsible Group Item #2#}
    {#                    </button>#}
    {#                </h5>#}
    {#            </div>#}
    {#            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">#}
    {#                <div class="card-body">#}
    {#                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3#}
    {#                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum#}
    {#                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla#}
    {#                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt#}
    {#                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer#}
    {#                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus#}
    {#                    labore sustainable VHS.#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="card">#}
    {#            <div class="card-header" id="headingThree">#}
    {#                <h5 class="mb-0">#}
    {#                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"#}
    {#                            aria-expanded="false" aria-controls="collapseThree">#}
    {#                        Collapsible Group Item #3#}
    {#                    </button>#}
    {#                </h5>#}
    {#            </div>#}
    {#            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">#}
    {#                <div class="card-body">#}
    {#                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3#}
    {#                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum#}
    {#                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla#}
    {#                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt#}
    {#                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer#}
    {#                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus#}
    {#                    labore sustainable VHS.#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}