{% extends 'base.html' %}
{% block content %}
    <div class="mt-5">

        <h1 class="mt-5">Upload file</h1>
        <p class="lead">
            Enter a name for your Poetry.lock file and upload the file, alternatively, you can browse the previously
            uploaded files
        </p>

        <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
            {% csrf_token %}
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="inputGroupFile"
                           aria-describedby="inputGroupFileAddon" required>
                    <label class="custom-file-label" for="inputGroupFile">Choose <i>poetry.lock</i> file file</label>
                </div>
                <div class="input-group-append">
                    <input class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon" value="Upload File">
                </div>
            </div>
        </form>
    </div>

{% endblock %}